* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 62.5%*/
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1;
  padding: 2.4rem;
}

.party {
  max-width: 65rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

/******************************/
/* CHARACTER CARD - GRID LAYOUT */
/******************************/

.party-member {
  background-color: blue;
  color: #fff;
  padding: 0.8rem;

  display: grid;
  grid-template-columns: 3fr 3fr 4fr;
  grid-template-rows: 8fr 2fr;
  column-gap: 4.8rem;
  row-gap: 2.4rem;

  /* temporary */
  height: 30rem;
}

.character-box {
  grid-column: 1;
}

.equip-col {
  grid-column: 2;
  grid-row: 1 / -1;
}

.stats-box {
  grid-column: 3;
}

.elem-box {
  grid-column: 1;
}

.exp-box {
  grid-column: 3;
  grid-row: 2;
}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


-COLORS

*/
