* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 62.5%*/
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  color: #e9ecef;
  line-height: 1;
  padding: 2.4rem;
}

/******************************/
/* LAYOUT */
/******************************/

.party {
  max-width: 65rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.party-member {
  background: linear-gradient(to left top, #343a40, #495057);
  padding: 0.8rem;

  display: grid;
  grid-template-columns: 3fr 3fr 4fr;
  column-gap: 4.8rem;
}

/**************************/
/* CHARACTER COLUMN */
/**************************/

.character-img {
  display: block;
  width: 100%;
  margin-bottom: 0.8rem;
}

.character-name {
  font-size: 3rem;
  font-weight: 700;
  text-align: end;
  color: #f8f9fa;
  margin-bottom: 0.8rem;
}

.character-level {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: end;
  text-transform: uppercase;
  color: #dee2e6;
}

.level-num {
  font-size: 2.4rem;
  font-weight: 700;
  color: #f8f9fa;
}

/**************************/
/* POINTS COLUMN */
/**************************/

.points-col {
  margin: 0.8rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ELements */
.element {
  text-align: center;
  color: #495057;
  font-size: 2rem;
  font-weight: 500;
  padding: 1.2rem;
}

.element--lightning {
  background: linear-gradient(to top left, #ffd43b, #ffec99);
}

.element--fire {
  background: linear-gradient(to top left, #ff8787, #ffc9c9);
}

.element--shadow {
  background: linear-gradient(to top left, #ced4da, #e9ecef);
}

.element--water {
  background: linear-gradient(to top left, #4dabf7, #a5d8ff);
}

/* Points */
.points {
  font-size: 2rem;
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  gap: 0.4rem;
}

.points-type {
  text-transform: uppercase;
}

.points-cur,
.points-max,
.exp-number {
  margin-left: auto;
  font-weight: 500;
  color: #f8f9fa;
}

.exp-number {
  grid-column: 2 / -1;
}

.battle-powers {
  list-style: none;
  display: flex;
  gap: 1.6rem;
  justify-content: flex-end;
}

.battle-power-type {
  font-size: 1.6rem;
  margin-right: 0.4rem;
  color: #dee2e6;
}

.battle-power-number {
  font-size: 2rem;
  font-weight: 500;
  color: #f8f9fa;
}

/**************************/
/* EQUIPMENT - ATTRIBUTE COLUMN */
/**************************/

.equip-attr-col {
  margin: 0.8rem 0.8rem 0.8rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Equipment */
.equipment {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 3fr;
  row-gap: 0.8rem;
  column-gap: 1.6rem;
  align-items: end;
}

.equip-type {
  text-transform: lowercase;
  font-size: 1.6rem;
  color: #dee2e6;
  margin-left: auto;
}

.equip-name {
  font-size: 1.8rem;
  font-weight: 500;
}

/* Attributes*/
.attributes-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.4rem;
  row-gap: 0.4rem;
}

.attribute {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.attribute:last-child {
  grid-column: 1 / -1;
}

.attribute-type {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #dee2e6;
}

.attribute-number {
  font-size: 1.8rem;
  font-weight: 500;
}
